.nav {
   background-color: #faf7e8;
   margin: 0 auto;
   margin-top: 0px;
   height: 160px;
   padding: 0 120px !important;
 }
.navbar-nav {
  margin: 0 auto;
}
.w-40 {
  width: 40% !important;
}
/*style="margin-top: -330px; height: 250px;"*/
.mtop {
  margin-top: -330px !important;
}
.mh {
  height: 250px;
}
.blog-card {
  margin-top: -50px;
  width: 90% !important;
  z-index: 1;
}
.card {
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}
.card-img-top:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}
@media (max-width: 1000px) {
  .w-40{
    width: 80% !important;
  }
}
@media (max-width: 850px) {
  .mtop{
    margin-top: -100px !important;
  }
}
@media (max-width: 400px) {
  .mtop{
    margin-top: -50px !important;
  }
}